*{
    font-family: Calibri;
}
.header {
    text-transform: uppercase;
    width:100%;
    font-weight: bold;
}
a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none; }

a:hover {
    text-decoration: none; }

a:active {
    text-decoration: none; }
.picture-main {
    width: 100%;
}
.header-menu1 {
    float: left;
    text-align: center;
    width: 25%;
}
.header-menu2 {
    float: left;
    text-align: center;
    width: 25%;

}
.header-menu3 {
    float: left;
    text-align: center;
    width: 25%;

}
.header-menu4 {
    float: left;
    text-align: center;
    width: 25%;

}
h2{
    text-transform: uppercase;
    text-align: center;
}
.main-paragraph1.main-paragraph2 {
    text-align: center;
}
.main-paragraph2{
    margin-bottom: 50px;
}
.button{
    text-transform: uppercase;
    background-color: red;
    color: white;
    margin: 10px 50%;
    padding:10px 50px;
    text-align: center;
    white-space: nowrap;
    border-color: red;
    border-radius: 5px;
    font-weight: bold;
}
.footer{
    margin-left: auto;
    font-weight: bold;
    width: 350px;
    margin-top: 50px;
}